.h-l-1px {
  position: relative;
  &:before {
    @include h-1px($border-color, left);
  }
}

.h-r-1px {
  position: relative;
  &:before {
    @include h-1px($border-color, right);
  }
}
.h-t-1px {
  position: relative;
  &:before {
    @include h-1px($border-color, top);
  }
}

.h-b-1px {
  position: relative;
  &:before {
    @include h-1px($border-color, bottom);
  }
}

.h-1px {
  position: relative;
  &:before {
    @include h-all-1px($border-color, 0);
  }
}
