.h-l-1 {
	position: relative;
	&:before {
		@include h-1($border-color, left);
	}
}

.h-r-1 {
	position: relative;
	&:before {
		@include h-1($border-color, right);
	}
}
.h-t-1 {
	position: relative;
	&:before {
		@include h-1($border-color, top);
	}
}

.h-b-1 {
	position: relative;
	&:before {
		@include h-1($border-color, bottom);
	}
}

.h-1 {
	position: relative;
	&:before {
		@include h-all-1($border-color, 0);
	}
}
