 .row {
   @include display-flex();
   width: 100%;
 }

 .row-wrap {
   @include flex-wrap(wrap);
 }

 .col {
   @include flex(1);

   display: block;
   width: 100%;
 }

 /* Vertically Align Columns */

 /* .row-* vertically aligns every .col in the .row */
 .row-top {
   @include align-items(flex-start);
 }

 .row-space-between {
   @include justify-content(space-between);
 }

 .row-bottom {
   @include align-items(flex-end);
 }

 .row-center {
   @include align-items(center);
 }

 .row-stretch {
   @include align-items(stretch);
 }

 .row-baseline {
   @include align-items(baseline);
 }

 .col-top {
   @include align-self(flex-start);
 }

 .col-bottom {
   @include align-self(flex-end);
 }

 .col-center {
   @include align-self(center);
 }
