// 覆盖van css
body {
	--van-cell-horizontal-padding: 48px; // 左右边距
}
.van-cell:after {
	left: 48px;
	right: 48px;
	background: rgba(150, 150, 150, 1);
}
input {
	font-size: 40px;
	color: rgba(0, 0, 0, 0.6);
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	font-size: 32px;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	font-size: 32px;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
	font-size: 32px;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	font-size: 32px;
}
.bc-dialog {
	.van-dialog__header {
		padding-left: 40px;
		padding-right: 40px;
		box-sizing: border-box;
		color: #242424;
	}
	.van-hairline--top:after {
		border-top-width: 0px;
	}
	.van-hairline--left:after {
		border-left-width: 0px;
	}
	.van-dialog__cancel,
	.van-dialog__confirm {
		width: 246px;
		height: 80px;
		background: #ececec;
		border-radius: 10px;
		color: #8d8d8d;
		font-size: 36px;
	}
	.van-dialog__footer {
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 20px;
	}
	.van-dialog__confirm {
		background: $primary-color;
		margin-left: 20px;
		color: #fff;
		font-weight: bold;
	}
}
