$primary-color: #8a38f5; // 全局主色
$success-color: #26701b; // 成功色
$error-color: #ff0000; // 错误色
$warning-color: #ed5c21; // 警告色

$text-main-color: #1a1a1a; // 主文本色
$text-secondary-color: #8d8d8d; // 次文本色
$text-link-color: #8a38f5; // 链接色

$title-color: #1f1f1f; // 标题色

// 背景色
$bg-primary: #a261ff;
$bg-default: #ffffff;
$bg-secondary: #999999;

// 水平间距
$h-spacing-sm: 38px;
$h-spacing-md: 48px;
$h-spacing-lg: 58px;

// 垂直间距
$v-spacing-sm: 20px;
$v-spacing-md: 35px;
$v-spacing-lg: 40px;

// 字体尺寸
$font-size-sm: 28px;
$font-size-md: 35px;
$font-size-lg: 40px;

// 圆角尺寸
$radius-sm: 3px;
$radius-md: 7px;
$radius-lg: 10px;
$radius-circle: 50%;

// 三角形尺寸
$arrow-sm: 15px;
$arrow-md: 20px;
$arrow-lg: 25px;

// 边框尺寸
$border-width-sm: 1px;
$border-width-md: 2px;
$border-width-lg: 3px;
// 边框颜色
$border-color: #dcdee0; // 默认
$border-color-secondary: #ccc; // 次色
$border-color-activate: $primary-color; // 激活

// 文字粗细
$font-weight-base: bold;
$font-weight-sm: 800;
$font-weight-md: 900;
$font-weight-lg: 100;

// 高度
$line-height: 1; // 单行行高
$line-height-paragraph: 1.5; // 多行行高

// 标题
$h1-size: 90px;
$h2-size: 80px;
$h3-size: 70px;
$h4-size: 60px;
$h5-size: 50px;
$h6-size: 40px;

// 阴影
$shadow-sm: 0px 40px 100px 0px rgba(0, 0, 0, 0.175);
$shadow-md: 0px 40px 100px 0px rgba(0, 0, 0, 0.175);
$shadow-lg: 0px 40px 100px 0px rgba(0, 0, 0, 0.175);

// 渐变

@import './global';
